# SPDX-FileCopyrightText: © 2020 Grégoire Duchêne <gduchene@awhk.org>
# SPDX-License-Identifier: ISC

[Unit]
Description=SMS-to-email Forwarder

[Service]
ExecStart=fwdsms
DynamicUser=true

[Install]
WantedBy=multi-user.target
